@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1323px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.img-top {
    margin-top: 115px;
}

.btn-2 {
    width: 220px;
    height: 54px;

    background: #F4241E;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
}

.wh-100-2 {
    min-width: 40px;
}

.h4-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.h4-font-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.btn-2:hover {
    background-color: #FFFFFF;
    color: #F4241E;
}

.text-poppins {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    opacity: 0.8;
}

.wh-img {
    max-width: 70%;
}



.wh-img-2 {
    max-width: 30%;
}

.bg-red {
    background-color: #f4241e;
}

.p-2-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    opacity: 0.8;
}

.btn {

    width: 220px;
    height: 54px;
    left: 1400px;
    top: 14px;
    background: #FFFFFF;
    border-radius: 10px;
}



.btn:hover {
    background: #F4241E;
    color: white;
    border: none;
}

.bg-yellow {
    background-color: #f6e300;
}

.img-padding {
    padding-left: 20px;
    padding-top: 7px;
}

.wh-100 {
    width: 100%;
}

.min-width-100 {
    min-width: 100%;
}

.d-flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.text-align {
    text-align: center;
}

.js-center {
    justify-content: center;
}

.js-between {
    justify-content: space-between;
}

.gap {
    gap: 20px;
}

.d-none {
    display: none;
}

.z-index {
    z-index: 1;
}

.position-sticky {
    position: sticky;
    top: 0px;
    z-index: 2;
}

@media (max-width: 992px) {
    label[for="iconbox"] {
        cursor: pointer;
        width: 35px;
        height: 25px;
        display: flex;
        z-index: 3;
        justify-content: space-between;
        flex-direction: column;
    }

    label[for="iconbox"]>span {
        width: 100%;
        height: 4px;
        background-color: red;
    }

    .sm-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #f6e300;
        position: fixed;
        top: 0;
        z-index: 2;
        left: -100%;
        opacity: 1;
        pointer-events: none;
        transition: all 200ms linear;

    }

    input[type="checkbox"]:checked+ul.sm-screen {
        opacity: 1;
        left: 0;
        pointer-events: all;
    }
}

.h4-mt {
    margin-top: 73px;
}

.h4-mt-2 {
    margin-top: 25px;
}

.h4-mb {
    margin-bottom: 73px;
}

.btn-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #F4241E;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.p-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
}

.btn-font-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFf;
    background-color: #F4241E;

    cursor: pointer;
}

.all-text-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
}

.font-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.text-color {
    color: #000000;
}

.home-color {
    color: #F4241E;
}

.home-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.font-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
    opacity: 0.8;
}

.last-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #000000;
    opacity: 0.7;
}

.last-img {
    min-width: 30%;
}

.col_1 {
    padding-left: 12px;
    padding-right: 12px;
    width: 8.33%;
}

.col_2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.66%;
}

.col_3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.col_4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.33%;
}

.col_5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 41.66%;
}

.col_6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}

.col_7 {
    padding-left: 12px;
    padding-right: 12px;
    width: 58.33%;
}

.col_8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.66%;
}

.col_9 {
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;
}

.col_10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.33%;
}

.col_11 {
    padding-left: 12px;
    padding-right: 12px;
    width: 91.66%;
}

.col_12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.welcome-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.time-ml-mt {
    margin-left: 30px;
    margin-top: 40px;
}

.h4-font-5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.justify-content-end {
    justify-content: end;
}

.p-f-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;

    color: #000000;
}

.yellow-mb {
    margin-bottom: 20px;
}

.overflow {
    overflow: hidden;
}

.ml-text {
    margin-left: 12px;
}


.burger-1 {
    width: 8%;
    top: -1%;
    left: 6%;
}

.burger-2 {
    width: 8%;
    top: 8%;
    left: 30%;
}

.burger-3 {
    width: 8%;
    bottom: 10%;
    left: 18%;
}

.burger-4 {
    width: 8%;
    bottom: 28%;
    left: -1%;
}

.burger-5 {
    width: 8%;
    top: 20%;
    right: 20%;
}

.burger-6 {
    width: 8%;
    top: 2%;
    right: 0%;
}

.burger-7 {
    width: 8%;
    bottom: 20%;
    right: -1%;
}

.burger-8 {
    width: 8%;
    bottom: 10%;
    right: 21%;
}

.burger-9 {
    width: 8%;
    top: 2%;
    left: 15%;

}

.burger-10 {
    width: 8%;
    top: 58%;
    left: 40%;
}

.burger-11 {
    width: 8%;
    top: 51%;
    left: 4%;
}

.burger-12 {
    width: 8%;
    bottom: -1%;
    left: 16%;
}

.burger-13 {
    width: 8%;
    top: 17%;
    right: 40%;
}

.burger-14 {
    width: 8%;
    top: 3%;
    right: 3%;
}

.burger-15 {
    width: 8%;
    top: 38%;
    right: 15%;
}

.burger-16 {
    width: 8%;
    bottom: 5%;
    right: 20%;
}

.p-font-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
}

.time-p-ml {
    margin-left: 30px;
}

.time-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.card {
    background: #FFFFFF;
    border-radius: 10px;
}

.logo-2-mt {
    margin-top: 30px;
}

.img-margin-t {
    margin-top: 0px;
}

.mb-10 {
    margin-bottom: 10px;
}

.col-9 {
    width: 75%;
}

.box {
    max-width: 992px;
    height: 100%;
    background-color: #fff03f;
    padding: 12px;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.h6-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.img-margin-b {
    margin-bottom: 20px;
}

.footer {
    padding-left: 15px;
}

.relative {
    position: relative;
}

.absolut {
    position: absolute;
}

.width-hight {
    min-width: 520px;
}

.translate {
    transform: translateY(-30%);
}

.gap-5 {
    gap: 70px;
}

.bg-color {
    background: #fff03f;
}

/* timeline */

section {
    background-color: #f6e300;
    font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* timeline-container around content */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FFFFFF;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the timeline-container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    .burger-1 {
        display: none;
    }

    .burger-2 {
        display: none;
    }

    .burger-3 {
        display: none;
    }

    .burger-4 {
        display: none;
    }

    .burger-5 {
        display: none;
    }

    .burger-6 {
        display: none;
    }

    .burger-7 {
        display: none;
    }

    .burger-8 {
        display: none;
    }

    .burger-9 {
        display: none;
    }

    .burger-10 {
        display: none;
    }

    .burger-11 {
        display: none;
    }

    .burger-12 {
        display: none;
    }

    .burger-13 {
        display: none;
    }

    .burger-14 {
        display: none;
    }

    .burger-15 {
        display: none;
    }

    .burger-16 {
        display: none;
    }
}

@media(max-width:1100px) {
    .col_xsm_12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .mx-none {
        max-width: none;
    }

    .flex-direction {
        flex-direction: column-reverse;
    }
}

@media(max-width:1200px) {
    .col_xl_4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width:880px) {
    .col_md_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width:600px) {
    .col_sm_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width:800px) {
    .col_smm_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}