@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1323px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.img-top {
    margin-top: 115px;
}

.btn-2 {
    width: 220px;
    height: 54px;
    left: 1400px;
    top: 14px;
    background: #F4241E;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
}

.h4-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.h4-font-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.btn-2:hover {
    background-color: #FFFFFF;
    color: #F4241E;
}

.text-poppins {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    opacity: 0.8;
}

.wh-img {
    max-width: 70%;
}



.wh-img-2 {
    max-width: 30%;
}

.bg-red {
    background-color: #f4241e;
}

.p-2-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    opacity: 0.8;
}

.btn {

    width: 220px;
    height: 54px;
    left: 1400px;
    top: 14px;
    background: #FFFFFF;
    border-radius: 10px;
}



.btn:hover {
    background: #F4241E;
    color: white;
    border: none;
}

.bg-yellow {
    background-color: #f6e300;
}

.wh-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.text-align {
    text-align: center;
}

.js-center {
    justify-content: center;
}

.js-between {
    justify-content: space-between;
}

.gap {
    gap: 20px;
}

.d-none {
    display: none;
}

.z-imdex {
    z-index: 1;
}

@media (max-width: 992px) {
    label[for="iconbox"] {
        cursor: pointer;
        width: 35px;
        height: 25px;
        display: flex;
        z-index: 3;
        justify-content: space-between;
        flex-direction: column;
    }

    label[for="iconbox"]>span {
        width: 100%;
        height: 4px;
        background-color: red;
    }

    .sm-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: blue;
        position: fixed;
        top: 0;
        z-index: 2;
        left: -100%;
        opacity: 1;
        pointer-events: none;
        transition: all 200ms linear;

    }

    input[type="checkbox"]:checked+ul.sm-screen {
        opacity: 1;
        left: 0;
        pointer-events: all;
    }
}

.h4-mt {
    margin-top: 73px;
}

.h4-mt-2 {
    margin-top: 25px;
}

.h4-mb {
    margin-bottom: 73px;
}

.btn-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #F4241E;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.p-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
}

.btn-font-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFf;
    background-color: #F4241E;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.all-text-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
}

.font-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.text-color {
    color: #000000;
}

.home-color {
    color: #F4241E;
}

.home-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.font-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
    opacity: 0.8;
}

.col_1 {
    padding-left: 12px;
    padding-right: 12px;
    width: 8.33%;
}

.col_2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.66%;
}

.col_3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}

.col_4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.33%;
}

.col_5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 41.66%;
}

.col_6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}

.col_7 {
    padding-left: 12px;
    padding-right: 12px;
    width: 58.33%;
}

.col_8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.66%;
}

.col_9 {
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;
}

.col_10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.33%;
}

.col_11 {
    padding-left: 12px;
    padding-right: 12px;
    width: 91.66%;
}

.col_12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.welcome-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.time-ml-mt {
    margin-left: 30px;
    margin-top: 40px;
}

.h4-font-5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.justify-content-end {
    justify-content: end;
}

.p-f-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #000000;
}

.yellow-mb {
    margin-bottom: 20px;
}

.p-font-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
}

.time-p-ml {
    margin-left: 30px;
}

.time-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.card {
    background: #FFFFFF;
    border-radius: 10px;
}

.logo-2-mt {
    margin-top: 30px;
}

.img-margin-t {
    margin-top: 24px;
}

.mb-10 {
    margin-bottom: 10px;
}

.col-9 {
    width: 75%;
}

.box {
    max-width: 992px;
    height: 100%;
    background-color: #fff03f;
    padding: 12px;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.h6-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.img-margin-b {
    margin-bottom: 24px;
}

.footer {
    padding-left: 15px;
}

.relative {
    position: relative;
}

.absolut {
    position: absolute;
}

.translate {
    transform: translateY(-30%);
}

.bg-color {
    background: #fff03f;
}

@media(max-width:1100px) {
    .col_xsm_12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .mx-none {
        max-width: none;
    }

    .flex-direction {
        flex-direction: column-reverse;
    }
}

@media(max-width:1200px) {
    .col_xl_4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width:880px) {
    .col_md_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width:600px) {
    .col_sm_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

.timeline {
    content: '';
    height: 20px;
    width: 8px;
    color: red;
}